// Variables
$color-gray-medium: #999999;
$color-gray-light: #f7f7f7;
$color-gray-dark: #333333;

$color-white: #ffffff;

$color-black: #000000;

$color-primary: #de323c;
$color-primary-dark: #720d06;

$font-stack: "Source Sans Pro", sans-serif;

$header-james-harden: "/assets/img/james-harden.jpg";
$headshot-james-harden: "/assets/img/james-harden-headshot.png";

$header-chris-paul: "/assets/img/chris-paul.jpg";
$headshot-chris-paul: "/assets/img/chris-paul-headshot.png";

$header-clint-capela: "/assets/img/clint-capela.jpg";
$headshot-clint-capela: "/assets/img/clint-capela-headshot.png";

$header-eric-gordon: "/assets/img/eric-gordon.jpg";
$headshot-eric-gordon: "/assets/img/eric-gordon-headshot.png";

$header-james-ennis: "/assets/img/james-ennis.jpg";
$headshot-james-ennis: "/assets/img/james-ennis-headshot.png";

$header-pj-tucker: "/assets/img/pj-tucker.jpg";
$headshot-pj-tucker: "/assets/img/pj-tucker-headshot.png";

// Placeholders
%box-shadow {
  box-shadow: 0 2px 4px rgba($color-black, 0.08),
    0 2px 17px rgba($color-black, 0.17);
}

%border-radius {
  border-radius: 6px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: $color-gray-light;
  font-family: $font-stack;
  color: $color-gray-dark;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.container {
  display: block;
  max-width: 800px;
  margin: auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(300px, 1fr));
  grid-template-rows: auto;
  grid-gap: 20px;

  @media screen and (max-width: 640px) {
    grid-template-columns: repeat(1, minmax(250px, 350px));
    justify-content: center;
  }
}

.heading {
  background-image: linear-gradient($color-primary, $color-primary);
  color: $color-white;
  padding: 25px;
  text-align: center;
  margin-bottom: 20px;

  h1 {
    font-size: 3rem;
  }
}

.card {
  position: relative;
  display: block;
  height: 30rem;
  perspective: 150rem;

  &__side {
    @extend %border-radius;
    @extend %box-shadow;
    background-color: $color-white;
    height: 30rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    transition: 0.5s all;
    overflow: hidden;

    &--front {
      display: flex;
      flex-direction: column;
    }

    &--back {
      display: flex;
      flex-direction: column;
      transform: rotateY(180deg);
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0);
  }

  &__header {
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    flex-basis: 55%;
    position: relative;

    &--harden {
      background-image: linear-gradient(
          to bottom,
          rgba($color-primary, 0.9),
          rgba($color-primary-dark, 0.9)
        ),
        url($header-james-harden);
    }

    &--paul {
      background-image: linear-gradient(
          to bottom,
          rgba($color-primary, 0.9),
          rgba($color-primary-dark, 0.9)
        ),
        url($header-chris-paul);
    }

    &--capela {
      background-image: linear-gradient(
          to bottom,
          rgba($color-primary, 0.9),
          rgba($color-primary-dark, 0.9)
        ),
        url($header-clint-capela);
    }

    &--gordon {
      background-image: linear-gradient(
          to bottom,
          rgba($color-primary, 0.9),
          rgba($color-primary-dark, 0.9)
        ),
        url($header-eric-gordon);
    }

    &--tucker {
      background-image: linear-gradient(
          to bottom,
          rgba($color-primary, 0.9),
          rgba($color-primary-dark, 0.9)
        ),
        url($header-pj-tucker);
    }

    &--ennis {
      background-image: linear-gradient(
          to bottom,
          rgba($color-primary, 0.9),
          rgba($color-primary-dark, 0.9)
        ),
        url($header-james-ennis);
    }

    i {
      position: absolute;
      right: 20px;
      top: 20px;
      color: $color-white;
      font-size: 1.5rem;
    }
  }

  &__content {
    padding: 10px 20px;
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    &__image {
      background-size: cover;
      background-position: center;
      width: 70px;
      height: 70px;
      position: absolute;
      top: -35px;
      display: inline-block;
      border-radius: 50%;

      &--harden {
        background-image: url($headshot-james-harden),
          linear-gradient($color-white, $color-white);
      }

      &--paul {
        background-image: url($headshot-chris-paul),
          linear-gradient($color-white, $color-white);
      }

      &--capela {
        background-image: url($headshot-clint-capela),
          linear-gradient($color-white, $color-white);
      }

      &--gordon {
        background-image: url($headshot-eric-gordon),
          linear-gradient($color-white, $color-white);
      }

      &--tucker {
        background-image: url($headshot-pj-tucker),
          linear-gradient($color-white, $color-white);
      }

      &--ennis {
        background-image: url($headshot-james-ennis),
          linear-gradient($color-white, $color-white);
      }
    }

    &__name {
      margin-left: 80px;

      .player-name {
        font-size: 2.4rem;
      }

      .player-nickname {
        color: $color-gray-medium;
        font-size: 1.6rem;
      }

      .seperator {
        color: $color-gray-medium;
      }
    }

    &__details {
      display: flex;
      justify-content: space-between;
      flex-grow: 1;
      margin-top: 5%;
      .label {
        text-transform: uppercase;
        font-size: 1.5rem;
        color: $color-gray-medium;
      }

      .value {
        font-size: 1.8rem;
      }
    }
  }

  &__stats {
    padding: 10px 20px;

    .season {
      color: $color-gray-medium;
      text-align: center;
      font-size: 1.6rem;
      text-transform: uppercase;
    }

    .stat-wrapper {
      display: flex;
      justify-content: space-between;
      margin-top: 1rem;
    }

    .label {
      font-size: 1.5rem;
    }

    .value {
      font-size: 2.8rem;
      color: darken($color-primary, 10%);
    }
  }

  &__description {
    background-image: linear-gradient(
      to bottom,
      $color-primary,
      $color-primary-dark
    );
    flex-grow: 1;
    color: $color-white;
    padding: 20px;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;

    p:not(:last-child) {
      flex-grow: 1;
    }

    a {
      color: $color-white;
    }
  }

  &:last-child {
    margin-bottom: 5rem;
  }
}
