// Variables
$color-gray-medium: #999999;
$color-gray-light: #f7f7f7;
$color-gray-dark: #333333;

$color-white: #ffffff;

$color-black: #000000;

$color-primary: #de323c;
$color-primary-dark: #720d06;

$font-stack: "Source Sans Pro", sans-serif;

$header-james-harden: "/assets/img/james-harden.jpg";
$headshot-james-harden: "/assets/img/james-harden-headshot.png";

// Placeholders
%box-shadow {
  box-shadow: 0 2px 4px rgba($color-black, 0.08),
    0 2px 17px rgba($color-black, 0.17);
}

%border-radius {
  border-radius: 6px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: $color-gray-light;
  font-family: $font-stack;
  color: $color-gray-dark;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.container {
  display: block;
  max-width: 800px;
  margin: auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(300px, 1fr));
  grid-template-rows: auto;
  grid-gap: 20px;
}

.card {
  @extend %border-radius;
  @extend %box-shadow;
  position: relative;
  display: block;
  height: 30rem;
  overflow: hidden;
  perspective: 50rem;

  &__side {
    background-color: $color-white;
    height: 30rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    transition: 0.5s all;

    &--front {
      display: flex;
      flex-direction: column;
      // display: none;
    }

    &--back {
      display: flex;
      flex-direction: column;
      transform: rotateY(180deg);
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0);
  }

  &__header {
    background: linear-gradient(to bottom, $color-primary, $color-primary-dark),
      url($header-james-harden);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    flex-basis: 55%;
    position: relative;

    i {
      position: absolute;
      right: 20px;
      top: 20px;
      color: $color-white;
      font-size: 1.5rem;
    }
  }

  &__content {
    padding: 10px 20px;
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    &__image {
      background: url($headshot-james-harden), $color-white;
      // background: firebrick;
      background-size: cover;
      background-position: center;
      width: 70px;
      height: 70px;
      position: absolute;
      top: -35px;
      display: inline-block;
      border-radius: 50%;
    }

    &__name {
      margin-left: 80px;

      .player-name {
        font-size: 2.4rem;
      }

      .player-nickname {
        color: $color-gray-medium;
        font-size: 1.6rem;
      }

      .seperator {
        color: $color-gray-medium;
      }
    }

    &__details {
      display: flex;
      justify-content: space-between;
      flex-grow: 1;
      margin-top: 5%;
      .label {
        text-transform: uppercase;
        font-size: 1.5rem;
        color: $color-gray-medium;
      }

      .value {
        font-size: 1.8rem;
      }
    }
  }

  &__stats {
    padding: 20px;

    .season {
      color: $color-gray-medium;
      text-align: center;
      font-size: 1.6rem;
      text-transform: uppercase;
    }

    .stat-wrapper {
      display: flex;
      justify-content: space-between;
      margin-top: 1rem;
    }

    .label {
      font-size: 1.5rem;
    }

    .value {
      font-size: 2.8rem;
      color: darken($color-primary, 10%);
    }
  }

  &__description {
    background-image: linear-gradient(
      to bottom,
      $color-primary,
      $color-primary-dark
    );
    flex-grow: 1;
    color: $color-white;
    padding: 20px;
    font-size: 1.6rem;
  }
}
