// Variables
$color-gray-medium: #999999;
$color-gray-light: #f7f7f7;
$color-gray-dark: #333333;

$color-white: #ffffff;

$color-black: #000000;

$color-primary: #de323c;
$color-primary-dark: #3d0804;

$font-stack: "Source Sans Pro", sans-serif;

$header-james-harden: "/assets/img/james-harden.jpg";
$headshot-james-harden: "/assets/img/james-harden-headshot.png";

// Placeholders
%box-shadow {
  box-shadow: 0 2px 4px rgba($color-black, 0.08),
    0 2px 17px rgba($color-black, 0.17);
}

%border-radius {
  border-radius: 6px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: $color-gray-light;
  font-family: $font-stack;
  font-size: 10px;
}

.container {
  max-width: 800px;
}

// .grid {
//   display: grid;
//   grid-template-columns: repeat(12, 1fr);
//   grid-template-rows: auto;
//   grid-gap: 20px;
// }

.card {
  @extend %border-radius;
  @extend %box-shadow;
  background-color: $color-white;
  position: relative;

  &__side {
    height: 50rem;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;

    &--back {
      display: none; // Hide until I'm ready to style the back
    }
  }

  &__header {
    background: linear-gradient(to bottom, $color-primary, $color-primary-dark),
      url($header-james-harden);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 30rem;
    background-blend-mode: multiply;
  }
}
